.randomized-list {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .instructions {
        font-size: 32pt;
        user-select: none;
    }

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5vh;

        width: 100%;
        padding: 3em 0;

        //background-color: #00af4d;
        background-color: rgb(255, 207, 0);
    }

    canvas {
        margin: 2vw 2vw;
        $size: 14vw;
        width: $size;
        height: $size;
    }

    a {
        background-color: rgb(227, 0, 11);
        //border: 2px outset rgb(146, 146, 146);
        padding: 1em;
        user-select: none;

        color: white;
        text-decoration: none;

        border-radius: 5px;

        &:hover {
            background-color: rgb(172, 17, 17);
        }
    }

    .logos {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;

        user-select: none;

        top: 1em;
        right: 1em;

        img {
            padding-right: 0.6em;
            margin-right: 0.6em;

            &#lego-logo {
                height: 7vh;
            }

            &#challenge-logo {
                height: 7vh;
                margin-left: 1em;
            }

        }

        .separator {
            height: 8vh;
            width: 2px;
            background-color: black;
        }
    }
}