.randomized-list {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .instructions {
        font-size: 32pt;
    }

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5vh;
    }

    canvas {
        margin: 2vw 2vw;
        $size: 14vw;
        width: $size;
        height: $size;
    }

    a {
        background-color: rgb(206, 23, 23);
        border: 3px outset rgb(146, 146, 146);
        padding: 1em;

        color: white;
        text-decoration: none;

        border-radius: 5px;

        &:hover {
            background-color: rgb(172, 17, 17);
        }
    }

}