.button-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;

        user-select: none;

        img {
            padding-right: 1em;
            margin-right: 1em;

            &#lego-logo {
                height: 30vh;
            }

            &#challenge-logo {
                height: 30vh;
                margin-left: 1em;
            }

        }

        .separator {
            height: 40vh;
            width: 2px;
            background-color: black;
        }
    }

    .buttons {
        a {
            background-color: rgb(227, 0, 11);
            //border: 2px outset rgb(146, 146, 146);
            padding: 1em;

            user-select: none;

            color: white;
            text-decoration: none;

            border-radius: 5px;

            &:hover {
                background-color: rgb(172, 17, 17);
            }

            margin-right: 1em;

            &:nth-last-of-type() {
                margin-right: 0em;
            }
        }
    }
}